:root {
--primary-color: #055a05;
--secondary-color: #f4a261;
--accent1-color: #264653;
--accent2-color: #e9c46a;
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    padding: 1rem;
    display: flex;
    padding-inline-start: 10px;
    margin-block-start: 10px;
    list-style-type: none;
    margin-left: 20px;
}


nav a {
    display: block;
    color: navy;
    padding: 1.0rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid black;
    width: 200px;
    }



header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

h1{
    text-align: center;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}


header, main, footer{
    width: 100%;
    margin: 0 auto;
}

h1,h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.grid-container{
    display: grid;
    padding: 10px;
}

.grid-item {
    padding: 0.2rem;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 100%;
    
}

.map {
    margin-left: 10px;
    width: 100px;
}

form{
    width: 500px;
    margin-right: 15px;
    padding: 1rem;
    border-radius: 0.5rem;
    grid-column: 2/3;
    display: block;
}


legend{
    padding: 0.5rem;
    font-size: 1.0rem;
}

label,input,button,select,textarea{
    font-family: Roboto, Arial, sans-serif;
}

label{
    
    padding-right: 1rem;
}

input{
    padding: .75rem;
    width: 320px;
}

input,select,textarea{
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

input[type="radio"]{
    width: 15px;
    height: 15px;
    position:relative;
    
    
    
}

.column2{
    padding: 20px;
    float: right;
}

.column3{
    margin-top: 100px;
}

legend{
    display: inline-block;
    margin-top: 50px;
}

h2{
    text-align: center;
    font-size: 2rem;
    text-align: center;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
    padding: 20px;
    margin: auto;
}

fieldset{
    display: grid;
    grid-gap: .5rem;
    padding: 1rem;
}

textarea{
    width: 450px;
    margin: 0.5rem;

}

.employees {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

figure img{
display: block;
width: 100px;
height: 100px;
}

figure caption{
    font-size: smaller;
    font-style: italic;
}

button{
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.2rem;
    width: 400px;
}

button:hover{
    background-color: darkgreen;
}

footer{
    display: flex;
    flex-direction: row;
}

.socialmedia a{
    text-decoration: none;
}

.socialmedia{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}